#side-bar .navBg {
    background-color: #34495e;
    min-width: 196px;
    height:  92.8vh;
}
#side-bar h1{
        color: #34495e;
        font-size: 24px;
        font-weight: 300;
        padding: 25px 12px;
        background-color: white;
}
#side-bar a{
    transition: 0.6s;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-bottom: 1px solid white;
    font-weight: 400;
    width: 100%;
}
#side-bar i{
    padding-right: 10px;
}
#side-bar small {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.dropbtn {
    background-color: #34495e;
    color: white;
    padding: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 12rem;
    border-bottom: 1px solid white;
}


.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #415970;
    min-width: 194px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#34495e ;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #415970;}