#side-bar {
  background-color: #5a5e8b;
  min-width: 210px;
  height: 160%;
  overflow-y: hidden;
  overflow-x: hidden;
  left: 0;
 
 
}

.dropbtn {
    border: none;
    cursor: pointer;
    color: #dcdbed;
   
    text-align: left;
    background-color: #5a5e8b;
    padding: 8px;
    border-radius:10px;
    width: 11.8rem;
    height: 3rem;
}


.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #5a5e8b;
    min-width: 194px;
    /* box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%); */
    z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#5d6193 ;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {    
  color: #5a5e8b;
  background-color:#f2f3f7 ;
 

}
@media (height: 570px) {
  #side-bar {
    height: 133vh;
  }
}



/* #side-bar .navBg {
    background-color: #34495e;
    min-width: 224px;
    height:  100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 0;

}
#side-bar .navBg:hover{
    overflow-y: scroll;
} 


::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 10px;
  }
#side-bar h1{
        color: #34495e;
        font-size: 24px;
        font-weight: 300;
        padding: 25px 12px;
        background-color: white;
}
#side-bar a{
    transition: 0.6s;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-bottom: 1px solid white;
    font-weight: 400;
    width: 100%;
}
#side-bar i{
    padding-right: 10px;
}
#side-bar small {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.dropbtn {
    background-color: #34495e;
    color: white;
    padding: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 14rem;
    border-bottom: 1px solid white;
}


.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  border: none;
}

.dropdown-content {
    
    position: relative;
    background-color: #415970;
    min-width: 194px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#34495e ;}



.dropdown:hover .dropbtn {background-color: #415970;} */

