body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color:#f2f3f7
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#card .well h1 {
  text-align: center;
  color: #34495e;
}
#card .well h2{
  text-align: center;
  
}
