#card{
    width: 155%;        
    padding: 0;
    margin: 2rem 0rem 0rem 4rem;
    background-color: #fff;
    
}
  
#card .well{
    min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #ffffff;
      border: 1px solid #D5D7E7;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
.table thead ,tr ,
tbody,
th,
td {
  text-align: center;
}
#card .well h4{
  text-align: center;
  
}


  